
.profile-container {
    margin-left: 20%; 
    margin-right: 20%; 
}

.profile-title {
    text-align: center;
    color: black;
    font-family: 'Arial';
    font-size: 2rem;
    margin-bottom: 2rem;
}

.profile-card {
    text-align: center;
    background-color: #a8a8a8;
    max-width: 700px;
    margin-top: 1rem; 
    margin-left: 10%; 
    margin-right: 10%; 
}

.profile-info {
    text-align: center;
    display: grid;
    margin-left: 10%; 
    margin-right: 10%; 
}

.profile-item {
    background: #e0e0e0;
    border-radius: 10px;
    margin-top: 1rem; 
    margin-left: 10%; 
    margin-right: 10%;
}
